.feedback {
  position: relative;
  background-color: #F8F8F8;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.feedback__title {
  font-size: 28px;
  line-height: 35px;
  display: flex;
  text-align: center;
}

.feedback__subtitle {
  display: flex;
  text-align: center;
  font-size: 18px;
  line-height: 33px;
  margin: 50px 0 65px 0;
}

.feedback__content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1170px;
  height: 480px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.feedback__block-title {
  width: 808px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.feedback__offer-text {
 // display: flex;
//   flex-direction: column;
//   align-items: center;
//  // width: 383px;
  font-size: 12px;
  line-height: 15px;
}
.feedback__offer-link{
  color: #009FE3;
  display: flex;
  justify-content: center;
}
.feedback__button{
  border: none;
  padding: 20px 26px 20px 26px ;
}