.block__step {
  position: relative;
  padding: 26px 0 46px 0;

  &:after {
    position: absolute;
    content: '';
    width: 810px;
    height: 0px;
    border: 1px solid #E8E8E8;
    margin: 5px 0 0 0;
  }
}

.block__number {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 36px 0;
  font-size: 20px;
  line-height: 28px;
}

.block__number-step {
  margin: 0 11px 0 0;
  font-size: 15px;
  line-height: 23px;
  width: 44px;
  padding: 9px;
  border: 2px solid #009FE3;
  border-radius: 50%;
  text-align: center;
}

.block__answer {
  display: flex;
  flex-direction: column;
  padding: 0 0 40px 0;
}

.block__answer-form {
  resize: none;
  border: 1px solid #D5D5D5;
  border-radius: 6px;
  width: 810px;
  height: 184px;
  padding: 10px 10px;
  outline: none;
}

.block__form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 36px 0;
}

.block__form-left {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 14px;
  padding: 0 56px 0 0;
}

.block__form-right {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 14px;
}


.block__choice {
  display: flex;
  flex-direction: column;
  padding: 40px 0 125px 0;
  align-items: center;
}

.block__answer-choice {
  font-size: 13px;
  line-height: 14px;
  align-items: center;
}

.block__button-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

}

.block__button-next {
  padding: 1.5% 4%;
  border: none;
  border-radius: 6px;
  font-family: "Roboto";
  background: #009FE3;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;

  &:hover {
    background: gainsboro;
    transition: 0.5s;
    color: #009fe0;
  }

  &:after {
    margin: 0 0 0 5px;
    content: url("../../img/icon/ArrowButton.svg");
  }
}

.block__button-prev {
  font-weight: bold;
  border: none;
  background: none;
  border-radius: 6px;
  font-size: 14px;
  line-height: 15px;

  &:before {
    margin: 0 5px 0 0;
    content: url("../../img/icon/ArrowBack.svg");
  }
}