* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'gothampro';
}

li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1A191C;
}

.body {
  position: relative;
  font-size: 14px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
  height: 950px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}



.maincontent {
  height: 100%;
}