@media screen and (max-width: 1900px) {
  .container {
    max-width: 1197px;
  }

  .header .sub-menu {
    display: block;
    transition: 1s;
  }
  .slider__content .slider__win{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .header__buttons .sub-menu {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .header__buttons .show-menu {
    display: block;
  }

  .slider__content .slider__content-block {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .feedback__content .feedback__content-unit {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .feedback__content .feedback__content-block {
    padding: 30px;
    width: 100%;
  }

  .slider__block-img {
    display: none;
  }

  .slider__content-block .slider__block-question {
    flex-wrap: wrap;
    width: 100%;
  }

  .slider__content .slider__content-subtitle {
    width: 100%;
  }

  .slider__block-question .slider__block-content {
    padding: 30px 30px;
  }

  .block__step {
    display: none;
  }

  .block__number {
    width: 100%;
  }

  .block__number h3 {
    font-size: 14px;
  }

  .block__answer .block__answer-form {
    width: 100%;
    padding: 50px 55px;
  }

  .hero__pic {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .menu .menu__list {
    display: block;
    font-size: 14px;
    line-height: 33px;
  }

  .menu .menu__mail {
    position: relative;
    display: block;
  }

  .menu .menu__mail {
    &:before {
      position: absolute;
      content: '';
      width: 150px;
      height: 0px;
      left: 0;
      bottom: 30px;
      border: 1px solid #E3E3E3;
      transform: rotate(180deg);
    }
  }

  .menu .menu__city {
    position: relative;
    display: block;
  }

  .menu .menu__city {
    &:after {
      position: absolute;
      content: '';
      width: 150px;
      height: 0px;
      left: 0;
      top: 30px;
      border: 1px solid #E3E3E3;
      transform: rotate(180deg);
    }
  }

  .menu__list>li {
    padding: 0 0 10px 0;
  }

  .menu__sub-list {
    transform: translate(0px, 150);
    opacity: 1;
    font-size: 14px;
    line-height: 19px;
  }

  .header__block {
    width: 131px;
  }

  .header__logo {
    &:after {
      display: none;
    }
  }

  .header__logo img {
    width: 131px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .header__logo-text {
    display: none;
  }

  .header__contact-mail {
    display: none;
  }

  .header__contact-text p {
    display: none;
  }

  .header__contact .header__contact-phone {
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 0;
  }

  .header__contact-text a {
    display: none;
  }

  .header__contact-text img {
    display: none;
  }

  .header .header__contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 14px 0 0 0;
  }

  .header__contact a {
    font-size: 14px;
    margin-right: auto;
    margin-top: 10px;
  }

  .hero__content {
    flex-wrap: wrap;
  }

  .hero__content-block,
  .hero__content-offer {
    width: 100%;
    margin: 40px 0 30px 0;
  }

  .hero__content-block h2 {
    font-size: 21px;
  }

  .hero__content-block .hero__block-subtitle {
    font-size: 21px;
    font-weight: bold;
  }

  .header__button-menu span {
    content: '';
    background-color: #009FE3;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 10px;
    top: 6px;
    transition: 0.5s;
  }

  .header__contact .header__button-menu {
    display: block;
    position: relative;
    width: 25px;
    height: 15px;
    padding: 5px 10px 0 10px;

    &:after {
      content: '';
      background-color: #009FE3;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 1px;
      transition: 0.5s;
    }

    &:before {
      content: '';
      background-color: #009FE3;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 1px;
      transition: 0.5s;
    }
  }

  .header__button-menu.show-menu:before {
    transform: rotate(45deg) scale(0.8);
    top: 6px;
    background-color: #000000;
    transition: 0.5s;
  }

  .header__button-menu.show-menu:after {
    transform: rotate(-45deg) scale(0.8);
    bottom: 7px;
    background-color: #000000;
    transition: 0.5s;
  }

  .header__button-menu.show-menu span {
    transform: scale(0);
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 95%;
    padding: 0 15px;
  }
}