@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro.ttf);
  src: url(./fonts/gothampro.ttf) format("truetype");
  font-style:normal;
  font-weight: 400;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_black.ttf);
  src: url(./fonts/gothampro_black.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_blackitalic.ttf);
  src: url(./fonts/gothampro_blackitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_bold.ttf);
  src: url(./fonts/gothampro_bold.ttf) format("truetype");
  font-style: bold;
  font-weight: 600;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_bolditalic.ttf);
  src: url(./fonts/gothampro_bolditalic.ttf) format("truetype");
  font-style:italic;
  font-weight: 600;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_italic.ttf);
  src: url(./fonts/gothampro_italic.ttf) format("truetype");
  font-style:italic;
  font-weight: 400;
}

@font-face {
  font-family: "gothampro";
  src: url(./fonts/gothampro_light.ttf);
  src: url(./fonts/gothampro_light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto.ttf);
  src: url(./fonts/Roboto.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}