.btn { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 322px;
  height: 60px;
  border-radius: 6px;
  background: #009FE3;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  font-family: "Roboto";
  text-align: center;
  color: #FFFFFF;
}